[Unit]
Description=Todero Service
After=network.target

[Service]
Type=simple
User=@USER@
Group=@GROUP@
WorkingDirectory=/home/@USER@/app
ExecStart=/usr/bin/java -jar /home/@USER@/app/todero.jar
Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
